@import '~antd/dist/antd.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-dark: #141414;
  --clr-light: #fff;
  --clr-accent: #16e0bd;
  --clr-darkaccent: #d7d7d7;

  --color-homepage-dark: '#001220';
  --color-homepage-light: '#fff';

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  color: var(--clr-light);
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.clr-accent-hoverable {
  color: var(--clr-accent);
}

.clr-accent-hoverable:hover {
  opacity: 0.7;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

:focus {
  outline: 2px solid var(--clr-accent);
  outline-offset: 3px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* NEW VERSION */
.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh; 
}

.leftNav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.mainPage {
  flex: 5;
  background-color: #16e0bd;
  position: 'relative',
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

/* .nav {
  position: fixed;
  background: var();
  color: var(--clr-light);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
} */

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  cursor: pointer;
  position: fixed;
  right: 5vw;
  top: 5vh;
  z-index: 1000;
  border: 0;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-open .nav {
  transform: translateX(0);
  background: var(--clr-dark);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translate(-1px);
}

.nav-open .hamburger::after {
  opacity: 0;
  transform: translate(-6px);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.contact-link {
  border: 7px solid #ffffff;
  color: #000 !important;
  background: #fff;
  border-radius: 30px;
}

.contact-link:hover {
  /* color: var(--clr-accent) !important; */
  background: var(--clr-accent);
  border: 7px solid var(--clr-accent);
}

/*  Intro section  */

/* Introduction  */
.intro-gradient {
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
  /* background: linear-gradient( 0deg,var(--color-homepage-dark),var(--color-homepage-light) ); */
  /* background-color: var(--color-homepage-dark); */
  padding: 5vh 5vw 5vh 5vw;
  height: 100vh;
}

.hiring-me {
  padding: 5vw 5vw 5vw 5vw;
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
  0deg,
  hsl(210deg 38% 33%) 0%,
  hsl(211deg 40% 30%) 21%,
  hsl(211deg 41% 27%) 30%,
  hsl(211deg 43% 24%) 39%,
  hsl(211deg 46% 21%) 46%,
  hsl(211deg 50% 18%) 54%,
  hsl(211deg 55% 15%) 61%,
  hsl(210deg 62% 12%) 69%,
  hsl(210deg 73% 9%) 79%,
  hsl(211deg 100% 6%) 100%
);
}

.intro-gradient-background {
  /* background-image: url(./img/creativity.jpg); */
  background-blend-mode: multiply;
  background-color: rgb(88, 86, 86);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  content: '';
  height: 100vh;
  width: 100vw;
}

.spacer {
  aspect-ratio: 960/150;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.layer1 {
  background-image: url('./assets/layered-waves.svg');
}

.intro-1 {
  background-color: #d7d7d7;
  height: 100vh;
}

.intro-2 {
  background-color: #000000;
  padding-top: 1em;
  height: 100vh;
  position: relative;
  clip-path: polygon(10vw 0, 100% 0, 100% 100%, 0 100%);
  margin-left: -10vw;
}

/* Intro Header */
.intro-nav {
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-right: 5vw;
  padding: 0;
}

.intro-nav-link {
  color: inherit;
  /* font-weight: var(--fw-bold); */
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  font-style: normal;
  font-family: 'Montserrat';
}

.intro-nav-link:hover {
  color: var(--clr-accent);
}

.intro-img-div {
  position: absolute;
  top: 30vh;
  right: 7vw;
  display: flex;
}

.intro-img-div:hover .intro-img-1 {
  transform: translateY(5%);
}

.intro-img-div:hover .intro-img-2 {
  transform: translateY(-5%);
}

.intro-img-1 {
  transform: translateY(-10%);
  transition: transform 0.3s ease-out;
}

.intro-img-2 {
  transform: translateY(10%);
  transition: transform 0.3s ease-out;
}

.intro-arrow {
  position: absolute;
  height: 15vh;
  /* bottom: 10vh; */
  margin-left: -3vw;
}

.intro-text {
  padding-top: 30vh;
  padding-left: 10vw;
}

.intro-h1 {
  color: #fff;
  position: absolute;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.3em;
  top: 40vh;
  left: 21vw;
}

.intro-h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.intro-h4-div {
  position: absolute;
  top: 50vh;
  left: 21vw;
  width: 40%;
}

.intro-h4 {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.intro-h4-2 {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.intro {
  position: relative;
}

/* .intro__img {
  box-shadow: var(--bs);
  opacity: 0;
} */

.section__title--intro {
  transform: translateY(-200%);
}

.section__subtitle--intro {
  display: inline-block;
  transform: translateX(150%);
}

.intro-animation .section__title--intro {
  transform: translateX(0%);
  transition: transform 1200ms cubic-bezier(1, 0, 1, 1);
}

.intro-animation .section__subtitle--intro {
  transform: translateX(0%);
  transition: transform 1200ms cubic-bezier(1, 0, 1, 1);
}

.intro-animation .intro__img {
  opacity: 1;
  transition: opacity 1200ms cubic-bezier(1, 0, 1, 1);
}

@media (min-width: 660px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    font-size: 1.3rem;
    left: -1.5em;
    width: calc(100% + 1.5em);
    padding-left: calc(200px + 4em);
    padding-right: 1em;
  }
}

/* About me */

.about-me {
  padding: 5vw 5vw 5vw 5vw;
  margin: 0;
  background-image: url(./img/miami1.jpg),
    linear-gradient(rgba(43, 55, 96, 1) 0%, #f304ab 10%, #b6302b 80%, #000 100%);
    /* background-image: linear-gradient(
      0deg,
      hsl(210deg 38% 33%) 0%,
      hsl(211deg 40% 30%) 21%,
      hsl(211deg 41% 27%) 30%,
      hsl(211deg 43% 24%) 39%,
      hsl(211deg 46% 21%) 46%,
      hsl(211deg 50% 18%) 54%,
      hsl(211deg 55% 15%) 61%,
      hsl(210deg 62% 12%) 69%,
      hsl(210deg 73% 9%) 79%,
      hsl(211deg 100% 6%) 100%
    ); */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
}

.ant-collapse-item {
  margin: 2vw 0 2vw 0;
}

.about-me-col {
  width: 80%;
  max-width: 80%;
}

.about-me__img {
  box-shadow: var(--bs);
}

.about-me-title {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.2em 0 0.2em 0;
  /* line-height: 49px; */
  letter-spacing: 0.15538em;
  display: inline;
  text-transform: uppercase;
}

.ant-collapse-header:hover .about-me-title {
  color: var(--clr-accent);
}

.about-me-title-highlight {
  color: var(--clr-accent);
  font-weight: 700;
  font-size: 2rem;
  /* line-height: 49px; */
  letter-spacing: 0.18538em;
  display: inline;
}

.ant-collapse-header:hover .about-me-title-highlight {
  color: var(--clr-light);
}

@keyframes slideInRight {
  from {
    transform: translateX(-20vw);
  }
  to {
    transform: translateX(0);
  }
}

.about-me-col-side {
  position: relative;
  float: right;
}

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  margin: 0;
  letter-spacing: 0.18538em; /* Adjust as needed */
  animation: typing 2s steps(20, end), typingStill 2s steps(20, end),
    blink-caret 1s step-end infinite;
}

/* The anti-typing effect */
@keyframes typingStill {
  from {
    top: 1.7em;
    right: 2em;
  }
  to {
    top: 8.3em;
    right: -4.8em;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13.4em;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.about-me-title-side {
  position: absolute;
  top: 8.5em;
  right: -5em;
  transform: rotate(90deg);
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  float: left;
  /* line-height: 49px; */
  letter-spacing: 0.18538em;
  display: inline;
}

.about-me-p {
  /* margin-top: 1em; */
  /* margin-bottom: 4em; */
  margin-bottom: 0;
  font-size: 1rem;
  color: var(--clr-light);
}

.about-me-p + .about-me-p {
  margin-top: 2em;
}

@media (min-width: 600px) {
  .about-me {
    /* display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em; */
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* Redirect Buttons */

.redirect {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.service-buttons {
  max-width: 200px;
  margin: 20px auto;
}

.btn {
  margin: 10px auto;
}

/* Responsiveness in Service section */

/* My Services Section */

.my-services {
  background-color: var(--clr-light);
  background-image: url(./img/services-bg.jpg);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.75;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }

  .service-buttons {
    display: flex;
    margin: 20px auto;
    max-width: 700px;
  }

  .btn + .btn {
    margin-left: 2em;
  }
}

/* .btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: fransform 200ms ease-in-out;
  text-decoration: none;
} */

.hiring-me-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1em;
  width: fit-content;
  display: block;
  color: var(--clr-light);
}

.hiring-me-p {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: block;
  color: var(--clr-light);
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  /* background: var(--clr-accent); */
  /* color: var(--clr-light); */
  color: var(--clr-light);
  border: 0.3em solid var(--clr-light);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
  color: var(--clr-accent);
  border: 0.3em solid var(--clr-accent);
  background-color: #000000;
}

/* Projects */
.project-sub-section {
  background-color: #000;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  width: 100vw;
}

.project-sub-section:hover {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  z-index: 100;
  transform: scale(1.1);
}

.project-sub-section:hover::before {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  opacity: 0.8;
  transform: scale(1.1);
}

.contact-h3 {
  font-size: 1.3rem;
  margin-top: 3rem;
  text-align: center;
  max-width: 70%;
}

.cssocialgood::before {
  content: '';
  background-image: url(./img/cssocialgood.png);
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.ic::before {
  content: '';
  background-image: url(./img/ICbackground.jpg);
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.gtia::before {
  content: '';
  background-image: url(./img/atlantabanner.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.hackgt::before {
  content: '';
  background-image: url(./img/hackgt.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.jjz::before {
  content: '';
  background-image: url(./img/jjz.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.tedx::before {
  content: '';
  background-image: url(./img/tedx.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.dumpli::before {
  content: '';
  background-image: url(./img/dumpli.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.phan-group::before {
  content: '';
  background-image: url(./img/phan-group.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.creativity::before {
  content: '';
  background-image: url(./img/creativity.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.colours::before {
  content: '';
  background-image: url(./img/lisbonBanner.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.project {
  position: relative;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.show1 {
  /* transform: translateX(20%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1); */
  animation: 1s cubic-bezier(0.5, 0, 0.5, 1) 0s 1 slideInFromRight;
}

.show2 {
  /* transform: translateX(20%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1); */
  animation: 1s cubic-bezier(0.5, 0, 0.5, 1) 0s 1 slideInFromLeft;
}

.hide1,
.hide2 {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.5, 0, 0.5, 1);

  /* transform: translateX(50%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1); */
}

.show-btn {
  color: var(--clr-accent);
  border: 0.3em solid var(--clr-accent);
}

/* Other Work */
.other-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-acent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 0 0 1.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}


/* .social-list-left {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 1em 0 1em;
} */

/* Intro Animation */