.bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .book2{
    position: relative;
    height:40px;
    width:120px;
    /* margin-left:43vw; */
    background: #a688bd;  
    transition: transform ease 300ms;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .book2:hover {
    transform: translate(20px, 0);
  }
  
  .book2:before,
  .book2:after{
    content: "";
    position: absolute;
  }

  /* Typography */
  .book-title {
    align-self: center;
    text-align: center;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: small;
  }


  .bookCut{ 
    background: #a0d8ef;
    margin: 0 0 0 97%;
    width: 5px;
    height: 30px;
  }
  
  
  /* .book2:before{
    height: 40px;
    width: 60px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
   */
  /* .book2:after{
    background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
  } */
  
  .book3{
    position: relative;
    height:30px;
    width:140px;
    border: 5px solid #004d25;
    /* margin-left:43vw; */
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  .bookCut3{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .book4{
    position: relative;
    height:35px;
    width:160px;
    /* margin-left:41vw; */
    background: #ed6d35;  
  }
  
  .book4:before,
  .book4:after{
    position: absolute;
    content: "";
  }
  
  .book4:before{
    height: 35px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book4:after{
     background: white;
    margin: 4% 0 0 37%;
    width: 40px;
    height: 20px;
  }

  .book5{
    position: relative;
    height:40px;
    width:145px;
    /* margin-left:41.5vw; */
    background: #0073a8;  
  }
  
  .book5:before,
  .book5:after{
    position: absolute;
    content: '';
  }
  
  .book5:before{
    height: 40px;
    width: 80px;
    left: 12px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book5:after{
     background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
  }
  
  .book6{
    position: relative;
    height:30px;
    width:165px;
    border: 5px solid #622d18;
    /* margin-left:40.5vw; */
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  
  .bookCut6{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .book7{
    position: relative;
    height:40px;
    width:200px;
    /* margin-left:39vw; */
    margin-bottom: 3px;
    background: #fcc800;  
  }
  
  .book7:before,
  .book7:after{
    position: absolute;
    content: "";
  }
  
  .book7:before{
    height: 40px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
  }
  
  .book7:after{
     background: white;
    margin: 4% 0 0 82%;
    width: 22px;
    height: 22px;
    border-radius: 12px;
  }